<!DOCTYPE html>
<html lang="en">

<head>
    <title>GDPR</title>
    <meta charset="UTF-8">
    <meta name="description" content="DU Computer Science Programming-Y1 Summative 2">
    <meta name="keywords" content="">
    <meta name="author" content="kqcr86">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="index.css">
</head>

<body class='d-flex flex-column min-vh-100'>
    <nav class="navbar navbar-expand sticky-top navbar-dark align-content-center">
        <a class="navbar-brand" href="/">
            <img alt='logo' src="assets/logo.svg" width="30" height="30"
                class="d-inline-block align-top mr-1 text-white">
            G.D.P.R. v1.0
        </a>
        <button id="user_button" class="btn btn-primary ml-auto">Welcome <span class="text-dark"
                data-user-name>Stranger</span></button>
    </nav>
    <div id="login_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please Log In</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="login_form" novalidate>
                        <div class="form-row">
                            <div class="col-12 mb-3">
                                <input type="email" class="form-control" data-input='email' placeholder="Enter email..."
                                    required>
                                <div class="invalid-feedback">
                                    Are you 100% sure that is an email?
                                </div>
                            </div>
                        </div>
                        <div class="form-row d-none" data-name-container>
                            <div class="col-12 mb-3">
                                <label>Haven't seen you around before. What is your name?</label>
                                <input type="text" class="form-control" data-input='name' placeholder="Enter name...">
                                <div class="invalid-feedback">
                                    Doesn't look like any name I've seen before. Try harder
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit <span data-loading
                                class="spinner-border spinner-border-sm text-white d-none" role="status">
                            </span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="profile_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Profile</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-4">
                            <img alt='profile' class="img-fluid mx-auto h-50 p-4 d-block bd-placeholder-img data-image"
                                src="assets/profile.svg">
                        </div>
                        <div class="col-md-7">
                            <form id="profile_form" novalidate>
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" data-input='name'
                                            placeholder="Enter name..." required>
                                        <div class="invalid-feedback">
                                            Doesn't look like any name I've seen before. Try harder
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" data-input='email'
                                            placeholder="{email}" disabled>
                                        <div class="invalid-feedback">
                                            Are you 100% sure that is an email?
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary float-right d-none" type="submit">
                                    <span data-loading class="spinner-border spinner-border-sm text-white mr-1 d-none"
                                        role="status">
                                    </span>Submit
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8 align-self-center">
                            <p class="mb-0"><small class="text-muted">Registered on <span
                                        data-registration-date>{date}</span></small></p>
                        </div>
                        <div class="col-4">
                            <button data-button-logout class="d-none btn btn-danger float-right" type="button">Log
                                out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="program_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Program Overview</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <form class="ml-4 mr-4" id="program_form" novalidate>
                            <div class="form-row mb-4">
                                <div class="col-7">
                                    <input type="text" class="form-control form-control-lg" data-input='title'
                                        placeholder="Enter title..." required>
                                    <div class="invalid-feedback">
                                        You really want your program to be called that?
                                    </div>
                                </div>
                                <div class="col-5">
                                    <input type="email" class="form-control form-control-lg" data-input='email' required
                                        placeholder="Enter email...">
                                    <div class="invalid-feedback">
                                        Are you 100% sure that is an email?
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-4">
                                <div class="col-12">
                                    <textarea data-input="description" placeholder="Enter description..."
                                        class="form-control form-control-lg" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-row mb-4">
                                <div class="col-12">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" data-input="image">
                                        <label data-program-image-label class="custom-file-label">Upload image (up to
                                            1MB)</label>
                                        <div class="invalid-feedback">Invalid file. You must upload only one .png file,
                                            up to 1MB</div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary float-right" type="submit">
                                <span data-loading class="spinner-border spinner-border-sm text-white mr-1 d-none"
                                    role="status">
                                </span>Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='toast_container'>
        <div id='error_toast' class="toast d-none m-2" data-autohide="false" role="alert">
            <div class="toast-header">
                <strong class="mr-auto">An error has occured</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                    <span>&times;</span>
                </button>
            </div>
            <div data-body class="toast-body">
            </div>
        </div>
    </div>
    <div id="search_bar" class="vertical-center p-4">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="input-group">
                    <input data-input-search type="text" class="rounded form-control form-control-lg"
                        placeholder="Search by Id, Author, Name...">
                    <div data-spacer class="w-100"></div>
                    <div data-container-buttons class="mx-auto pt-4">
                        <button data-button-search class="btn btn-lg btn-primary" type="button">Search</button>
                        <button data-button-new class="btn ml-2 btn-lg btn-primary" type="button">New</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="card_prototype_container" class="d-none">
        <div id="card_proto" class="card mb-3 p-2 d-none">
            <div class="row d-flex flex-wrap align-items-center no-gutters">
                <div class="col-md-4">
                    <img alt='image' class="img-fluid mx-auto w-50 h-50 d-block bd-placeholder-img" data-card-img
                        src="assets/placeholder.svg">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 data-card-title class="card-title">{title}</h5>
                        <p data-card-description class="card-text">{descritpion}</p>
                        <button data-card-button-profile type="button" class="btn btn-light float-right">By <span
                                data-card-author>{name}</span></button>
                        <p class="card-text"><small class="text-muted">Last updated <span
                                    data-card-modification-date>{date}</span></small></p>
                        <p class="card-text"><small class="text-muted">Created <span
                                    data-card-creation-date>{date}</span></small></p>
                        <p class="card-text"><small class="text-muted">Program #{<span data-card-id></span>}</small></p>
                        <button data-card-button-edit class="btn btn-primary m-1 float-right"
                            type="button">Edit</button>
                        <button data-card-button-delete class="btn btn-danger m-1 float-right" type="button">
                            <span data-loading class="spinner-border spinner-border-sm text-white d-none" role="status">
                            </span> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="card_container" class="container">
        <div class="row">
            <div id="search_loading" data-loading class="spinner-border mx-auto text-primary d-none" role="status">
            </div>
        </div>

    </div>
    <div class="wrapper flex-grow-1"></div>
    <footer class="text-white text-center m-1">
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </footer>
    <!-- Bootstrap JS Dependencies -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Client Script -->
    <script type="module">
        import App from './app.js'
        const app = new App();
        app.initialize();
    </script>
</body>

</html>