<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index Page</title>
    <meta charset="UTF-8">
    <meta name="description" content="DU Computer Science Programming-Y1 Summative 2">
    <meta name="keywords" content="">
    <meta name="author" content="kqcr86">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <nav class="navbar navbar-expand sticky-top navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="assets/placeholder.svg" width="30" height="30" class="d-inline-block align-top text-white" alt="">
        </a>
        <button id="user_button" class="btn btn-primary ml-auto">Welcome <span class="text-dark"
                data-user-name>Stranger</span></button>
    </nav>
    <div id="login_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="login_form" novalidate>
                        <div class="form-row">
                            <div class="col-12 mb-3">
                                <label for="login_input_email">What is your email?</label>
                                <input id="login_input_email" type="email" class="form-control" data-input='email'
                                    placeholder="Enter email..." required>
                                <div class="invalid-feedback">
                                    Are you 100% sure that is an email?
                                </div>
                            </div>
                        </div>
                        <div class="form-row d-none" data-name-container>
                            <div class="col-12 mb-3">
                                <label for="login_input_name">Haven't seen you around before. What is your name?</label>
                                <input id="login_input_name" type="text" class="form-control" data-input='name'
                                    placeholder="Enter name...">
                                <div class="invalid-feedback">
                                    Doesn't look like any name I've seen before. Try harder
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit <div data-loading
                                class="spinner-border spinner-border-sm text-white d-none" role="status">
                            </div></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="user_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Profile</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="img-fluid mx-auto d-block bd-placeholder-img data-image"
                                src="assets/profile.svg">
                        </div>
                        <div class="col-md-7 ml-4">
                            <form id="profile_form" novalidate>
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" data-input='name'
                                            placeholder="Enter name..." required>
                                        <div class="invalid-feedback">
                                            Doesn't look like any name I've seen before. Try harder
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" data-input='email'
                                            placeholder="{email}" disabled>
                                        <div class="invalid-feedback">
                                            Are you 100% sure that is an email?
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary float-right" type="submit">
                                    <div data-loading class="spinner-border spinner-border-sm text-white d-none"
                                        role="status">
                                    </div>Submit
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-11 ml-4 mt-4">
                            <p><small class="text-muted">Last seen on <span data-login-date>{date}</span></small></p>
                            <p><small class="text-muted">Registered on <span
                                        data-registration-date>{date}</span></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="search_bar" class="vertical-center p-4">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="input-group">
                    <input data-input-search type="text" class="rounded form-control form-control-lg"
                        placeholder="Search by Id, Author, Name...">
                    <div data-spacer class="w-100"></div>
                    <div data-container-buttons class="mx-auto pt-4">
                        <button data-button-search class="btn btn-lg btn-primary" type="button">Search</button>
                        <button data-button-new class="btn ml-2 btn-lg btn-primary" type="button">New</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="card_prototype_container" class="d-none">
        <div id="card_proto" class="card mb-3 p-2 d-none">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid mx-auto d-block bd-placeholder-img data-image" src="assets/placeholder.svg">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 data-card-title class="card-title">{title}</h5>
                        <p data-card-description class="card-text">{descritpion}</p>
                        <p class="card-text text-right">By <span data-card-author>{name}</span></p>
                        <p class="card-text"><small class="text-muted">Last updated <span
                                    data-card-modification-date>{date}</span></small></p>
                        <p class="card-text"><small class="text-muted">Created <span
                                    data-card-creation-date>{date}</span></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="card_container" class="container">
        <div class="row">
            <div data-loading class="spinner-border mx-auto text-primary d-none" role="status">
            </div>
        </div>

    </section>
    <nav class='d-none'>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <footer>

    </footer>
    <!-- Bootstrap JS Dependencies -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Client Script -->
    <script type="module" defer>
        import App from './app.js'
        const app = new App();
        app.initialize();
    </script>
</body>

</html>